table, th, td{
  border: 2px solid;
  border-collapse: collapse;
}

table{
  margin: 20px;
}

#cloudID, #text, #name{
  margin: 20px 15px 0px 20px;
}

form{
  display: flex;
  flex-direction: row;
}

#button{
  height: 25px;
  margin-top: 60px;
}


